.fade-in {
    animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.glow-on-hover {
    transition: 0.3s;
}

.glow-on-hover:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
    transform: scale(1.02);
}